<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
 <header>  
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a href="/" class="navbar-item">
                    Home
                </a>
                <a href="/dashboard" class="navbar-item">
                    Dashboard
                </a>
               {{#if logged_in}}
                <a class="navbar-item" id="logout">
                    Log Out
                </a>
               {{else}}
                <a href="/login" class="navbar-item">
                    Log In
                </a>
                <a href="/signup" class="navbar-item">
                    Sign Up
                </a>
                {{/if}}
            </div>
        </div>
    </nav>
    <div class="buttons">
        <a href="/"><button class="button is-primary margin-left">Tech Blog</button></a>
    </div>
    </br>
</header>
<main>
    {{{ body }}}
</main>
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
</body>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      The Tech Blog!!!!
    </p>
  </div>
</footer>

</html>