<!--Title-->
<input type="text" class="textarea form" id="title-post" placeholder="{{title}}">
<!--Content-->
<textarea class="textarea form" id="content-post" placeholder="Content">{{content}}</textarea>
</br>
</br>
<div class="field is-grouped is-grouped-centered">
  <p class="control">
    <button class="button is-primary" data-id="{{id}}" id="updateBtn">Update</button>
  </p>
 
</div>

<script src="/js/update.js" ></script>

