<input class="input" type="text" placeholder="Text input">
<textarea class="textarea" placeholder="e.g. Hello world"></textarea>
<div class="field is-grouped is-grouped-centered">
  <p class="control">
    <a class="button is-primary">
      Submit
    </a>
  </p>
  <p class="control">
    <a class="button is-light">
      Cancel
    </a>
  </p>
</div>
