{{#each posts as |post| }}
<div class="container">
  <div class="notification is-primary">
    {{post.title}}
  </div>
  <div class="box">
    {{post.content}}
  </div>
  <p>Created by : {{post.user.name}} on {{format_time post.date_created}} </p>
  </br>
</div>
{{/each}}