{{#each posts as |post| }}
<div class="container">
  <div class="notification is-primary">
    <a href="/posts/{{post.id}}">{{post.title}}</a>
  </div>
  <div class="box">
    {{post.content}}
    </br>
    </br>
    <strong>- Created on {{format_date post.date_created}}</strong>
  </div>
  </br>
</div>
{{/each}}