<div>
  <div>
    <div class="field form">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="email" id="email-login" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </p>
    </div>
    <div class="field form">
      <p class="control has-icons-left">
        <input class="input" type="password" id="password-login" placeholder="Password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
    </div>
    <div class="field form">
      <p class="control">
        <button class="button is-success" id="loginBtn">Login</button>
      </p>
      {{!-- </br>
      <a href="/signup">Sign Up Instead</a> --}}
    </div>
  </div>
</div>
<script src="./js/login.js"></script>