<input class="input" type="text" id="title-post" placeholder="Title">
<textarea class="textarea" id="content-post" placeholder="Content"></textarea>
<div class="field is-grouped is-grouped-centered">
  <p class="control">
    <a class="button is-primary" id="submitBtn">
      Submit
    </a>
  </p>
</div>

<script src="../public/js/newpost.js"></script>
