<textarea class="textarea" id="comment" placeholder="Content"></textarea>
</br>
<div class="field is-grouped is-grouped-centered">
  <p class="control">
    <button class="button is-primary" id="submitBtn" data-id="{{id}}">Submit</button>
  </p>
</div>

<script src="/js/newcomment.js"></script>