
<input class="input" type="text" id="title-post" placeholder="Title">

<textarea class="textarea" id="content-post" placeholder="Content"></textarea>
</br>
<div class="field is-grouped is-grouped-centered">
  <p class="control">
    <button class="button is-primary" id="submitBtn">Submit</button>
  </p>
</div>

<script src="./js/newpost.js"></script>